body {
    background-color: rgb(244, 244, 234);
    color: burlywood ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hargafinal{
    font-weight: bold;
    color: salmon;
}

a:link{
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: darkgoldenrod;
    font-weight: bold;
}

.profilepicture {
    border-radius: 100%;
}

.photoframe {
    border-radius: 25px; /*membuat rounded corner */
    border: 2px solid wheat; /* tebal jenis warna */
    padding: 10px; /* jarak isi dengan border */
    width: 510px; /* jika tidak diset akan full 1 halaman */

    margin-left: auto;
    margin-right: auto;
}